@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    @apply aspect-square rounded-full
}

.homeMain {
    min-height: calc(100vh - 90px);
}

@media only screen and (min-width: 768px) {
    .homeMain {
        min-height: calc(100vh - 139px);
    }
}

@media only screen and (min-width: 992px) {
    .homeMain {
        min-height: calc(100vh - 164px);
    }
}